<% for(var i = 0; i < books.length; i++) { %>
<tr>
  <td><%= i + 1 %></td>
  <td><%= books[i].book %></td>
  <td><%= books[i].author %></td>
  <td><%= books[i].genre %></td>
  <td><%= (new Date(books[i].year)).toLocaleDateString("en-GB") %></td>
  <td><%= books[i].isbn %></td>
  <td>
    <a
      href="/update-book?id=<%= books[i]._id%>"
      class="btn border-shadow update"
      aria-label="Update book"
    >
      <span class="text-gradient"
        ><i class="fas fa-pencil-alt" aria-hidden="true"></i
      ></span>
    </a>
    <a
      class="btn border-shadow delete"
      data-id="<%= books[i]._id %>"
      tabindex="0"
      role="button"
      aria-label="Delete book"
    >
      <span class="text-gradient"
        ><i class="fas fa-times" aria-hidden="true"></i
      ></span>
    </a>
  </td>
</tr>
<% } %>
